<!DOCTYPE html>
<html>
    <head>
        <title>VPN Quick Switch</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/boostrap/dist/js/boostrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>