{% if status.connected %}
    <span class="glyphicon glyphicon-ok"></span>
    Connected to {{ status.vpn_file }}
    {% if status.info.country_iso %}
        &bull;
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="flag flag-{{ status.info.country_iso }}" alt="{{ status.info.country }}" title="{{ status.info.country }}">
    {% endif %}
    &bull;
    <a href="#">Set as Default</a>
{% else %}
    <span class="glyphicon glyphicon-remove"></span>
    Error Connecting to OpenVPN
{% endif %}